<% layout("/layouts/boilerplate.ejs") %>
<body>
    <h1><%= listing.title %></h1>
    <h2>Price  : &#8377;<%= listing.price.toLocaleString("en-IN") %>.</h2>
    <img src="<%= listing.image %>" alt="place page">
    <p><%= listing.description %></p>
    <p> Place : <%= listing.location %></p>
    <p>Country : <%= listing.country %></p>
    <a href="/listings/<%= listing._id %>/edit">EDIT</a> <br>
    <form method="post" action="/listing/<%= listing._id %>?_method=DELETE">
        <button>DELETE</button>
    </form>    
</body>
